<!-- <input type="file" #fileImportInput name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" 
value="c:\\wp4_inventory.csv"/>    
<table class="minimalistBlack" *ngIf="csvRecords.length > 0">    
  <thead>    
    <tr >  
      <th *ngFor="let header of headerNames;let i = index;" >{{header}} </th>    
    </tr>    
  </thead>    
  <tbody>    
    <tr *ngFor="let record of csvRecords;let i = index;">    
      <td *ngFor="let header of headerNames;let i = index;" > <span>{{record[header]}}</span> </td>    
    </tr>    
  </tbody>    
</table> -->
 
<form class="form-container bulk-upload mt-5">
    <div class="form-group mb-3">
      <label for="myfile" class="lbl-select-file">Select a file:</label>
      <input type="file" #fileImportInput name="Upload CSV" id="txtFileUpload" accept=".csv" (change)="updatefileDataEvent($event)"><br><br>
      <button type ="button" class="btn btn-primary" (click)="uploadListener(fileDataEvent)">Upload</button>
  </div>
</form>
