
<!-- <div class="container"> -->
  <div class="row">
    <div class="wrapper col-2">
      <div class="sidebar">
        <ul>
          <li [ngClass]="{ 'activeTab' : this.activeTab === 'manageResources'}" (click)="activeTab = 'manageResources'"><a href="#" routerLink="./" class="text-white"><i class="fa-icon fa-solid fa-code-pull-request"></i>Manage Resources</a></li>
          <li [ngClass]="{ 'activeTab' : this.activeTab === 'manageUser'}" (click)="activeTab = 'manageUser'" ><a href="#" routerLink="./manageUser" class="text-white"><i class="fa-icon fa-solid fa-users"></i>Manage Users</a></li>
          <li [ngClass]="{ 'activeTab' : this.activeTab === 'addUser'}" (click)="activeTab = 'addUser'" ><a href="#" routerLink="./addUser" class="text-white"><i class="fa-icon fa-solid fa-user"></i>Add User</a></li>
          <li [ngClass]="{ 'activeTab' : this.activeTab === 'bulkUpload'}" (click)="activeTab = 'bulkUpload'" ><a href="#" routerLink="./bulkUpload" class="text-white"><i class="fa-icon fa-sharp fa-solid fa-arrow-up-from-bracket"></i>Upload Resources</a></li>
        </ul>
      </div>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
<!-- </div> -->
