.modal-button{
    width: 45%;
}
.margin-right{
    margin-right: 10px;
}

.ag-root-wrapper-body {
    min-height: 300px;
    height: auto;
    max-height: 500px;
}
// .searchResultGrid {
//     height: 200px;
//     // max-height: 300px;
//     overflow: auto;
// }
