<nav class="search-result-pagination" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item" *ngIf="pagination.showFirstIcon" (click)="changePage(1)">
      <span class="page-link-btn-end page-link">First</span>
    </li>
    <li class="empty-btn" *ngIf="!pagination.showFirstIcon"></li>
    <li class="page-item" *ngFor="let num of pagination.paginationArray" (click)="changePage(num)">
      <span class="page-link-btn page-link"
        [ngClass]="{'active': this.pagination.currentPageNo === num}">{{num}}</span>
    </li>
    <li class="page-item" *ngIf="pagination.showLastIcon" (click)="changePage(pagination.totalPages)">
      <span class="page-link-btn-end page-link">Last</span>
    </li>
    <li class="empty-btn" *ngIf="!pagination.showLastIcon"></li>
  </ul>
</nav>