.result-more-details-btn {
    border: 1px solid #0d6efd;
    border-radius: 12px;
    text-decoration: none;
    padding: 0px 8px;
}

.result-end-bar {
  border-bottom: 1px solid gainsboro;
  margin: 8px 0;
}

.top-scroll-btn {
    border: 2px solid #0d6efd;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    margin-left: auto;
    padding: 0px;
}

